<nav class="navbar border-bottom position-relative">
  <div class="container-fluid">
    <%= image_tag "logo.svg", height: 32 %>

    <div class="position-absolute start-50 translate-middle-x">
      <%= render "shared/flash" %>
    </div>

    <div class="d-flex gap-2">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</nav>